/* Header and Footer Styles + Responsiveness */
header {
    display: flex;
    align-items: center;
    padding: 1% 5% 2% 5%;
}

.header-logo {
    width: 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 3% 0 20%;
}

nav a {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.03px;
    color: rgba(16, 16, 16, 1);
    transition: 0.3s ease;
}

nav a:hover {
    color: #274BCD;
}

.active {
    color: #274BCD;
}

.active:hover {
    color: rgba(16, 16, 16, 1);
}

.search-icon {
    width: 4%;
    border-right: 2px solid rgba(89, 89, 89, 1);
    padding: 0% 1% 0% 0;
}

.search-icon img {
    vertical-align: middle;
}

footer {
    padding: 2% 3% 2% 5%;
    background: var(--neutral-color-700, #222);
}

.footer-main {
    display: flex;
    justify-content: space-between;
}

.footer-logo-social {
    width: 30%;
}

.footer-logo {
    width: 30%;
    margin-bottom: 17%;
}

.footer-social-txt p {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    /* line-height: 26px; 144.444% */
}

.footer-social {
    width: 10%;
    display: flex;
    align-items: center;
    gap: 70%;
    margin-top: 8%;
}

.footer-link-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-link-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
}

.link-container h3 {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    /* line-height: 28px; 140% */
}

.footer-link {
    display: flex;
    flex-direction: column;
    row-gap: 50%;
    justify-content: center;
    
}

.footer-link a {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    /* line-height: 22px; 137.5% */
    /* margin-top: 15%; */
}

.links-left a {
    margin-bottom: 10%;
}

.links-middle a {
    margin-bottom: 5%;
}

.links-right a {
    margin-bottom: 5%;
}

.footer-contact-container {
    width: 35%;
}

.footer-contact-container h3 {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    /* line-height: 28px; 140% */
}

.contact-container-txt {
    margin-bottom: 5%;
}

.contact-container-txt h4 {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    /* line-height: 26px; 144.444% */
    margin-bottom: 3%;
}

.contact-container-txt p {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}

article h3 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0.5%;
}


.footer-article-subscribe {
    display: flex;
    justify-content: flex-start;
}

input {
    color: var(--neutral-color-200, #7B7A7A);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    /* line-height: 26px; 144.444% */
    width: 35%;
    padding: 1%;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid var(--neutral-color-800, #101010);
    background-color: #FFF;
    outline: 0;
}

article a {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    /* line-height: 32px; 160% */
    border-radius: 0px 8px 8px 0px;
    background: var(--blue-600, #274BCD);
    padding: 1% 3%;
    transition: ease 0.3s;
    border: 1px solid var(--blue-600, #274BCD);
}

article a:hover {
    color: #274BCD;
    border: 1px solid var(--blue-600, #274BCD);
    background: var(--blue-600, #FFF);
}

/* Responsive Screens */
    /* Tablet */
@media screen and (min-width: 900px) and (max-width: 1150px) {
    header, footer {
        padding: 1% 3% 2% 3%;
    }
    .header-logo {
        /* width: 8%; */
    }

    nav {
        width: 90%;
    }

    nav a {
        font-size: 18px;
    }

    /* Footer */
    /* .footer-logo {
        width: 55%;
        margin-bottom: 35%;
    } */

    .footer-social-txt p {
        font-size: 16px;
    }

    /* .footer-social {
        width: 12%;
        gap: 40%;
    } */

    /* .footer-logo-social {
        width: 30%;
    }

    .footer-link-container {
        width: 65%;
    }

    .footer-contact-container {
        width: 40%;
    } */

    .link-container h3, .footer-contact-container h3, article a  {
        font-size: 18px;
    }

    .footer-link a, .contact-container-txt p {
        font-size: 14px;

    }
    
    .contact-container-txt {
        margin-bottom: 4%;
    }
    
    .contact-container-txt h4 {
        margin-bottom: 2%;
    }

    .contact-container-txt h4, input {
        font-size: 16px;
    }
    
    article h3 {
        font-size: 20px;
    }
}