@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    max-width: 1920px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.insight-hero {
    position: relative;
}

.insight-hero-txt {
    position: absolute;
    top: 0%;
    bottom: 0;
    /* width: 80%; */
    /* left: 20%; */
    padding: 15% 3% 5% 5%;
    background: rgba(16, 16, 16, 0.70);
}

.insight-hero-txt h1 {
    color: #FFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px; /* 116.667% */
    text-align: center;
    margin-bottom: 2%;
}

.insight-hero-txt p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
    text-align: justify;
    margin: 0 7%;
}

.insight-hero-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.insight-hero-link a {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    border-radius: 8px;
    background: #274BCD;
    padding: 1% 4%;
    transition: ease 0.3s;
}

.insight-hero-link a:hover {
    color: #274BCD;
    background-color: #FFF;
    border: 1px solid #274BCD;
}


.insight-sub-hero-links-container {
    display: flex;
    /* justify-content: space-between; */
    gap: 4%;
    padding: 3% 5%;
}

.insight-sub-hero-links {
    display: flex;
    align-items: center;
    gap: 5%;
    border-radius: 4px;
    border: 0.4px solid var(--primarycolor-700, #B8B8B8);
    padding: 1%;
}

.insight-sub-hero-links-img {
    width: 20%;
}

.insight-sub-hero-links a {
    color: var(--neutral-color-800, #101010);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.03px;
}

.insight-article {
    padding: 3% 5% 0 5%;
}

.insight-article-top {
    display: flex;
    align-items: center;
    gap: 1%;
}

.insight-article-top h3 {
    color: var(--neutral-color-800, #101010);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px; /* 120% */
}

.insight-article-top img {
    width: 3%;
}

.insight-container {
    padding: 3% 5%;
}

.insight-article-year-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    margin: 2% 0;
    border-top: 0.5px solid var(--primarycolor-500, #DDD);
    border-bottom: 0.5px solid var(--primarycolor-500, #DDD);
    padding: 2% 0;
}

.insight-article-year {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 0.5px solid var(--primarycolor-500, #DDD);
    padding: 0.5% 0;
}

.current-year {
    background: var(--blue-100, #C5D1FD);
    box-shadow: -1px 0px 24px 6px rgba(171, 171, 172, 0.12);
}

.insight-article-year p {
    color: var(--neutral-color-300, #6B6B6B);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.03px;
}

.current-year p {
    color: var(--light-blue-600, #2774CD) !important;
    font-weight: 500 !important;
}

.insight-article-year img {
    width: 20%;
}

.insight-article-months {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.insight-article-months p {
    color: var(--neutral-color-200, #7B7A7A);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}

.current-month {
    color: var(--blue-600, #274BCD) !important;
    font-weight: 600 !important;
}

.insight-article-content {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.insight-article-info {
    width: 32%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -1px 0px 24px 6px rgba(171, 171, 172, 0.25);
    padding: 1.5% 2% 3% 2%;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
    /* gap: 3%; */
}

.insight-article-info-txt h5 {
    color: var(--primarycolor-900, #878787);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
}

.insight-article-info-txt p {
    color: var(--neutral-color-800, #101010);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin: 8% 0;
}

.insight-article-link {
    margin-top: 15%;
}

.insight-article-link a {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    color: #fff;
    padding: 4% 15%;
    border-radius: 8px;
    background: #274BCD;
    transition: 0.2s ease;
}

.insight-article-link a:hover {
    color: #274BCD;
    background-color: #fff;
    border: 1px solid #274BCD;
}

.circular-page-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin-top: 3%;
}

.top {
    gap: 1%;
}

.circular-page-link-left {
    background-color: #FFF;
    border: 1px solid var(--grey-color-700, #929292);
    /* width: 3%; */
    border-radius: 50%;
    scale: 0.4;
}

.circular-page-link-right {
    fill: #FFF;
    border: 1px solid var(--blue-400, #5072E9);
    /* width: 3%; */
    border-radius: 50%;
    scale: 0.4;
}