@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    max-width: 1920px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.insight-hero {
    padding: 3% 5%;
    display: flex;
    align-items: center;
    gap: 10%;
}

.insight-hero-txt {
    width: 55%;
}

.insight-hero-txt h1 {
    color: var(--neutral-color-800, #101010);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px; /* 120% */;
    margin-bottom: 3%;
}

.insight-hero-txt p {
    color: var(--neutral-color-800, #101010);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; /* 140% */
    text-align: justify;
}

.insight-paragraph {
    width: 90%;
    margin: 1% 0 10% 0;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap 2%; */
    border-radius: 6px;
    border: 1px solid var(--primarycolor-600, #CDCDCD);
    background: #FFF;
    padding: 1% 1% 1% 3%;
    width: 70%;
}

.search-container .search-img-link {
    width: 5%;
}

.search-container input {
    color: var(--primarycolor-900, #878787);
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 63%;
    padding: 3% 0;
    border: none;
    outline: 0;
}

.search-container .search-link {
    border-radius: 8px;
    background: #274BCD;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    padding: 2% 7%;
}

.insight-hero-img {
    width: 30%;
    position: relative;
}

.top-circle, .bottom-circle {
    width: 244px;
    height: 300px;
    border-radius: 300px;
    background: rgba(245, 247, 255, 0.50);
    position: absolute;
    z-index: -1;
}

.top-circle {
    top: 3%;
    left: -10%;
}

.bottom-circle {
    bottom: -10%;
    right: -10%;
}

.ellipse-top-1 {
    position: absolute;
    top: -8%;
    right: -25%;
    z-index: -1;
    width: 80%;
}

.ellipse-top-2 {
    position: absolute;
    top: -10%;
    right: -30%;
    z-index: -1;
    width: 80%;
}

.ellipse-bottom-1 {
    position: absolute;
    bottom: -8%;
    left: -25%;
    z-index: -1;
    width: 80%;
}

.ellipse-bottom-2 {
    position: absolute;
    bottom: -10%;
    left: -30%;
    z-index: -1;
    width: 80%;
}

.insight-sub-hero-links-container {
    display: flex;
    /* justify-content: space-between; */
    gap: 3%;
    padding: 3% 5%;
}

.insight-sub-hero-links {
    display: flex;
    align-items: center;
    gap: 5%;
    border-radius: 4px;
    border: 0.4px solid var(--primarycolor-700, #B8B8B8);
    padding: 1%;
}

.insight-sub-hero-links-img {
    width: 25%;
}

.insight-sub-hero-links a {
    color: var(--neutral-color-800, #101010);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.03px;
}

.insight-article {
    padding: 3% 5% 0 5%;
}

.insight-article-top {
    display: flex;
    align-items: center;
    gap: 1%;
}

.insight-article-top h3 {
    color: var(--neutral-color-800, #101010);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px; /* 120% */
}

.insight-article-top img {
    width: 3%;
}

.insight-container {
    padding: 3% 5%;
}

.insight-article-year-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10%;
    margin: 2% 0;
    border-top: 0.5px solid var(--primarycolor-500, #DDD);
    border-bottom: 0.5px solid var(--primarycolor-500, #DDD);
    padding: 2% 15% 2% 0;
}

.insight-article-year {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    border: 0.5px solid var(--primarycolor-500, #DDD);
    padding: 0.5% 1% 0.5% 1%;
}

.current-year {
    background: var(--blue-100, #C5D1FD);
    box-shadow: -1px 0px 24px 6px rgba(171, 171, 172, 0.12);
}

.insight-article-year p {
    color: var(--neutral-color-300, #6B6B6B);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.03px;
}

.current-year p {
    color: var(--light-blue-600, #2774CD) !important;
    font-weight: 500 !important;
}

.insight-article-year img {
    width: 40%;
}

.insight-article-months {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.insight-article-months p {
    color: var(--neutral-color-200, #7B7A7A);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}

.current-month {
    color: var(--blue-600, #274BCD) !important;
    font-weight: 600 !important;
}

.insight-article-content {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.insight-article-info {
    width: 32%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -1px 0px 24px 6px rgba(171, 171, 172, 0.25);
    padding: 1.5% 2% 3% 2%;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
    /* gap: 3%; */
}

.insight-article-info-txt h5 {
    color: var(--primarycolor-900, #878787);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
}

.insight-article-info-txt p {
    color: var(--neutral-color-800, #101010);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin: 5% 0;
}

.insight-article-link {
    margin-top: 15%;
}

.insight-article-link a {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    color: #fff;
    padding: 4% 15%;
    border-radius: 8px;
    background: #274BCD;
    transition: 0.2s ease;
}

.insight-article-link a:hover {
    color: #274BCD;
    background-color: #fff;
    border: 1px solid #274BCD;
}

.circular-page-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin-top: 3%;
}

.top {
    gap: 1%;
}

.circular-page-link-left {
    background-color: #FFF;
    border: 1px solid var(--grey-color-700, #929292);
    /* width: 3%; */
    border-radius: 50%;
    scale: 0.4;
}

.circular-page-link-right {
    fill: #FFF;
    border: 1px solid var(--blue-400, #5072E9);
    /* width: 3%; */
    border-radius: 50%;
    scale: 0.4;
}