@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    max-width: 1920px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

main {
    background: var(--blue-0, #F5F7FF);
    margin-bottom: 1%;
}

.people-hero {
    position: relative;
}

.people-hero-txt {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 25% 5% 5% 0%;
    background: rgba(16, 16, 16, 0.7);
}

.people-hero-txt h1 {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px; /* 116.667% */
    text-align: center;
    margin-bottom: 2%;
}

.people-hero-txt p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
    margin: 0 10%;
    text-align: center;
}

.people-meet-container {
    padding: 3% 5%;
}

h3 {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px; /* 125% */
    letter-spacing: 0.08px;
}

p {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
}

.people-partners {
    padding: 3% 5%;
}

.people-partners h5 {
    margin-bottom: 2%;
}

.people-text-link {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.people-partners h5, .people-text-link h5 {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
}

.people-link {
    display: flex;
    align-items: center;
    gap: 10%;
    width: 17%;
}

.people-link a {
    color: var(--blue-600, #274BCD);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px; /* 140% */
}

.people-link-img {
    width: 10%;
}

.people-partners-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.people-info {
    width: 23%;
    background-color: #FFF;
}

.people-img {
    /* width: 93%; */
    background: var(--blue-0, #F5F7FF);
}

.people-txt {
    /* width: 93%; */
    background-color: #FFF;
    padding: 8%;
    margin-top: -2%;
    background: var(--grey-color-0, #FFF);
    box-shadow: 4px 4px 9px -2px #274BCD;
}

.people-txt h4 {
    color: var(--neutral-color-800, #101010);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px; /* 141.667% */
    margin: 1% 0;
}

.people-txt h5 {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px; /* 144.444% */
    text-align: start;
}

.people-txt p {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 5% 0;
    background-color: #FFF;
    text-align: unset;
}

.people-txt a {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    border-radius: 8px;
    color: #274BCD;
    transition: 0.3s ease;
}

.people-info a:hover {
    border-top: 1px solid #274BCD;
    border-bottom: 1px solid #274BCD;
    padding-top: 1%;
    padding-bottom: 1%;
}

.swipe-page {
    width: 9%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8%;
    margin: -3% auto 0% auto;
}

.swipe-page-bt {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
    margin: -3% auto 3% auto;
}


/* Responsive Screens */
/* Tablet */
@media screen and (min-width: 900px) and (max-width: 1150px) {
    .people-hero-txt h1 {
        font-size: 40px;
    }
    
    .people-hero-txt p {
        font-size: 20px;
    }

    .people-info {
        width: 24%;
    }

    .people-txt h4 {
        font-size: 18px;
    }
    
    .people-txt h5 {
        font-size: 14px;
    }
    
    .people-txt p {
        font-size: 16px;
    }
    
    .people-txt a {
        font-size: 16px;
    }
}