@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    max-width: 1920px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.recognition-hero-container {
    position: relative;
}

.recognition-hero-txt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20% 0 0% 0;
    background: rgba(16, 16, 16, 0.50);
}

.recognition-hero-txt h1 {
    color: #FFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px; /* 116.667% */
    letter-spacing: 1.44px;
    text-align: center;
    margin-bottom: 1%;
}

.recognition-hero-txt p {
    color: #FFF;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px; /* 116.667% */
    text-align: center;
}

.recognition-hero-sub {
    display: flex;
    justify-content: space-between;
    /* gap: 15%; */
    /* position: absolute; */
    /* left: 0; */
    /* bottom: -80%; */
    padding: 5%;
    margin-top: -10%;
    position: relative;
}

.recognition-hero-sub-container {
    width: 20%;
}

.recognition-hero-sub-container-img {
    border-radius: 50px;
    background: var(--primarycolor-0, #FFF);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
    padding: 15%;
    margin-bottom: 20%;
}

.recognition-hero-sub-container-select {
    text-align: center;
    position: relative;
}

.recognition-hero-sub-container-select select {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
    border-radius: 8px;
    background: #385CDD;
    padding: 3% 8%;
    outline: 0;
}

option {
    display: none;
}

.award-cart-lft, .award-cart-md, .award-cart-rt {
    display: none;
    background: #385CDD;
    /* width: 20%; */
    /* margin: 2% auto; */
    position: absolute;
    left: 5%;
    z-index: 5;
}

.award-cart-lft {
    padding: 8% 15% 3% 9%;
}

.award-cart-md, .award-cart-rt {
    padding: 8% 0 3% 9%;
}

.award-cart-lft p, .award-cart-md p, .award-cart-rt p {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
   margin-bottom: 3%;
}

.award-cart-lft ul, .award-cart-md ul, .award-cart-rt ul {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 10% 15%;
}

.award-cart-lft.hide, .award-cart-md.hide, .award-cart-rt.hide {
    display: block;
}

p, ul {
    text-align: left;
}

.recognition-profile-container {
    padding: 3% 5%;
}

.recognition-profile {
    display: flex;
    align-items: center;
    gap: 2%;
    margin-bottom: 5%;
}

.recognition-profile-img {
    width: 22%;
}

.recognition-profile-txt {
width: 70%;
}

.recognition-profile-txt h5 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px; /* 116.667% */
}

.recognition-profile-txt p {
    color: #000;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    margin: 1% 0 3% 0;
}

.recognition-profile-link a {
    color: #FFFEFE;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    border-radius: 4px;
    background: var(--blue-600, #274BCD);
    padding: 1% 3%;
    transition: ease 0.3s;
}

.recognition-profile-link a:hover {
    color: #274BCD;
    background: var(--blue-600, #FFFEFE);
    border: 1px solid #274BCD;
}


/* Responsive Screens */
/* Tablet */
@media screen and (min-width: 900px) and (max-width: 1150px) {

    .recognition-hero-txt {
        padding: 10% 0 0% 0;
    }

    .recognition-hero-txt h1 {
        font-size: 48px;
    }
    
    .recognition-hero-txt p {
        font-size: 40px;
    }

    .recognition-hero-award {
        margin: 3% auto;
    }

    .recognition-hero-sub-container-select select {
        font-size: 14px;
    }

    .recognition-profile-txt h5 {
        font-size: 20px;
    }
    
    .recognition-profile-txt p {
        font-size: 14px;
        font-weight: 500;
    }
    
}