@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 2% 3% 2% 5%;
}

.header-logo {
    width: 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 3% 0 20%;
}

nav a {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.03px;
    color: rgba(16, 16, 16, 1);
}

.search-icon {
    width: 4%;
    border-right: 2px solid rgba(89, 89, 89, 1);
    padding: 0% 1% 0% 0;
}
.search-icon img {
    vertical-align: middle;
}

.hero {
    position: relative;
}

.hero-img {
    /* position: absolute;
    z-index: -1; */
    /* background: url(./img/hero-img.png), lightgray 50% / cover no-repeat, #0A0B16; */
}

.hero-txt {
    padding: 15% 3% 5% 5%;
    background-image: url(./img/hero-img-1.png);
    /* lightgray: 50%; */
    /* object-fit: cover; */
    height: auto;
}

.hero-txt h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px; /* 116.667% */
    color: #FFF;
    width: 50%;
}

.hero-txt p {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
    color: #FFF;
    width: 35%;
    margin: 3% 0;
}

.hero-txt a { 
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    color: #FFF;
    border-radius: 8px;
    background: #274BCD;
    padding: 1.5% 4%;
}

.stats-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1%; */
}

.stats {
    /* width: 18%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    /* text-align: center; */
    padding: 0 3%;
}

.middle-stats-left {
    border-left: 2px solid rgba(89, 89, 89, 1);
    border-right: 2px solid rgba(89, 89, 89, 1);
    width: 18%;
}

.middle-stats {
    border-right: 2px solid rgba(89, 89, 89, 1);
    width: 15%;
}

.last-stats {
    width: 17%;
}

.stats h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px; /* 141.667% */
    color: var(--neutral-color-800, #101010);
    margin-bottom: 6%;
}

.stats p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px; /* 144.444% */
    color: var(--neutral-color-800, #101010);
}

.about-us-container {
    padding: 3% 3% 2% 5%;
}

.about-us-container {
    display: flex;
    /* align-items: center; */
    gap: 2%;
}

.about-us-img {
    width: 45%;
}

.about-us-txt {
    width: 50%;
}

.about-us-txt h4 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px; /* 125% */
    letter-spacing: 0.08px;
    color: var(--neutral-color-800, #101010);
    margin-bottom: 2%;
}

.about-us-txt p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px; /* 144.444% */
    color: var(--neutral-color-800, #101010);
    margin-bottom: 1%;
}

.about-last-p {
    margin-bottom: 6% !important;
}

.about-us-txt a {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    color: #FFF;
    border-radius: 8px;
    background: #274BCD;
    padding: 2.5% 5%;
}

.expertise-container {
    padding: 3% 3% 2% 5%;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px; /* 125% */
    letter-spacing: 0.08px;
    color: var(--neutral-color-500, #484848);
    margin-bottom: 2%;
}

.expertise {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4%;
}

.exp {
    width: 23%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp p {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px; /* 141.667% */
    color: var(--primarycolor-100, #FDFDFD);
    /* margin-top: 50%; */

    position: absolute;
    /* z-index: -1; */
}

.expertise-container a {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    color: #FFF;
    border-radius: 8px;
    background: #274BCD;
    padding: 1.5% 2.5%;
    margin-left: 40%;
}

.insight-container {
    padding: 3% 3% 2% 5%;
}

.insight-content {
    display: flex;
    justify-content: space-between;
}

.insight-info {
    width: 32%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -1px 0px 24px 6px rgba(171, 171, 172, 0.25);
    padding: 1.5% 2% 3% 2%;
}

.insight-info h5 {
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin: 3% 0;
}

.insight-info p {
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px; /* 144.444% */
    margin-bottom: 10%;
}

.insight-info a {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    color: #FFF;
    border-radius: 8px;
    background: #274BCD;
    padding: 4% 7%;
}

.home-people {
    padding: 3% 3% 2% 5%;
}

.home-people h3 {
    margin-bottom: 0.5%;
}

.home-people p {
    color: var(--neutral-color-500, #484848);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin-bottom: 1.5%;
}

.home-people-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.home-people-img {
    width: 90%;
}

.home-people-info h4 {
    color: var(--neutral-color-800, #101010);
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px; /* 141.667% */
    text-align: center;
}

.home-people-info p {
    color: var(--neutral-color-800, #101010);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px; /* 140% */
    text-align: center;
}

.home-people a {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    color: #FFF;
    border-radius: 8px;
    background: #274BCD;
    padding: 1.5% 2.5%;
    margin-left: 40%;
}
