@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    max-width: 1920px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero-txt {
    position: absolute;
    top: 0%;
    bottom: 0;
    padding: 23% 3% 5% 5%;
}

.hero-txt h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px; /* 116.667% */
    color: #FFF;
    width: 50%;
}

.hero-txt p {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
    color: #FFF;
    width: 35%;
    margin: 2% 0;
}

.hero-txt a { 
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    color: #FFF;
    border-radius: 8px;
    background: #274BCD;
    padding: 1.5% 4%;
    margin-top: 1%;
    display: inline-block;
}

/* .home-btn {
    border-radius: 8px;
    border: 1px solid var(--blue-600, #274BCD);
    background: #FFF;
} */

.hero-txt a:hover {
    color: #274BCD;
    background-color: #FFF;
    box-shadow: -1px 0px 24px 6px rgba(39, 75, 205, 0.25);
}

.stats-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1%; */
}

.stats {
    /* width: 18%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    /* text-align: center; */
    padding: 0 3%;
}

.middle-stats-left {
    border-left: 2px solid rgba(89, 89, 89, 1);
    border-right: 2px solid rgba(89, 89, 89, 1);
    width: 23%;
}

.middle-stats {
    border-right: 2px solid rgba(89, 89, 89, 1);
    width: 20%;
}

.last-stats {
    width: 20%;
}

.stats h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px; /* 141.667% */
    color: var(--neutral-color-800, #101010);
    margin-bottom: 6%;
}

.stats p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px; /* 144.444% */
    color: var(--neutral-color-800, #101010);
}

.home-about-us-container {
    padding: 3% 3% 2% 5%;
    display: flex;
    gap: 2%;
}

.home-about-us-img {
    width: 45%;
}

.home-about-us-txt {
    width: 50%;
}

.home-about-us-txt h4 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px; /* 125% */
    letter-spacing: 0.08px;
    color: var(--neutral-color-800, #101010);
    margin-bottom: 2%;
}

.home-about-us-txt p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px; /* 144.444% */
    color: var(--neutral-color-800, #101010);
    margin-bottom: 1%;
}

.home-about-last-p {
    margin-bottom: 6% !important;
}

.home-about-us-txt a {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    color: #FFF;
    border-radius: 8px;
    background: #274BCD;
    padding: 2.5% 5%;
}

.home-about-us-txt a:hover {
    color: #274BCD;
    background-color: #FFF;
    box-shadow: -1px 0px 24px 6px rgba(39, 75, 205, 0.25);
}

.home-expertise-container {
    padding: 3% 3% 2% 5%;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px; /* 125% */
    letter-spacing: 0.08px;
    color: var(--neutral-color-500, #484848);
    margin-bottom: 1%;
}

.home-expertise {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4%;
}

.home-exp {
    width: 23%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .exp-img:hover {
    filter: grayscale(50%);
} */

.home-exp p {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px; /* 141.667% */
    color: var(--primarycolor-100, #FDFDFD);
    /* margin-top: 50%; */

    position: absolute;
    /* z-index: -1; */
}

.home-expertise-container a {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    color: #FFF;
    border-radius: 8px;
    background: #274BCD;
    padding: 1.5% 2.5%;
}

.home-exp-link {
    display: flex;
    justify-content: center;
}

.home-insight-container {
    padding: 3% 3% 2% 5%;
}

.home-insight-content {
    display: flex;
    justify-content: space-between;
}

.home-insight-info {
    width: 32%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -1px 0px 24px 6px rgba(171, 171, 172, 0.25);
    padding: 1.5% 2% 3% 2%;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
    /* gap: 3%; */
}

.home-insight-info-txt h5 {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 3% 0;
}

.home-insight-info-txt p {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px; /* 144.444% */
    margin-bottom: 10%;
}

.link {
    margin-top: 18%;
}

.home-insight-info-txt a {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    border-radius: 8px;
    color: #274BCD;
    /* padding: 4% 7%; */
    transition: 0.2s ease;
}

.home-insight-info-txt a:hover {
    border-top: 1px solid #274BCD;
    border-bottom: 1px solid #274BCD;
    padding-top: 1%;
    padding-bottom: 1%;
}

.home-people {
    padding: 3% 3% 2% 5%;
    /* display: none; */
}

.home-people h3 {
    /* margin-bottom: 0.5%; */
}

.home-people p {
    color: var(--neutral-color-500, #484848);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 2% 0;
}

.home-people-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.home-people-img {
    width: 90%;
}

.home-people-info h4 {
    color: var(--neutral-color-800, #101010);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.home-people-info p {
    color: var(--neutral-color-800, #101010);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.home-people a {
    font-size: 20px;
    font-weight: 500;
    color: #274BCD;
    border: 1px solid #274BCD;
    border-radius: 8px;
    padding: 1.5% 2.5%;
    transition: 0.3s ease;
}

.home-people a:hover {
    background-color: #274BCD;
    color: #FFF;
}

.home-people-link {
    display: flex;
    justify-content: center;
}

.home-careers {
    padding: 3% 3% 2% 5%;
}

.home-careers p {
    color: var(--neutral-color-500, #484848);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin-bottom: 2%;
}

.home-careers-container {
    background: #FFF;
    box-shadow: -1px 0px 24px 6px rgba(0, 0, 0, 0.25);
}

.home-careers-top {
    display: flex;
    justify-content: flex-start;
    gap: 3%;
    padding: 2% 5%;
}
.home-careers-bottom {
    display: flex;
    justify-content: flex-end;
    gap: 3%;
    padding: 2% 5%;
}

.home-careers-img, .home-careers-txt {
    width: 30%;
}

.home-careers-txt h2 {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
}

.home-careers-txt h4 {
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin: 2% 0;
}

.home-careers-txt p {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    }

.home-career-socials {
    width: 8%;
    display: flex;
    align-items: center;
    gap: 45%;
    margin: 6% 0;
}

.home-careers-txt a {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    color: #274BCD;
    border: 1px solid #274BCD;
    border-radius: 8px;
    padding: 3% 5%;
    transition: ease 0.3s;
}

.home-careers-txt a:hover {
    background-color: #274BCD;
    color: #FFF;
}


/* Responsive Screens */
/* Tablet */
@media screen and (min-width: 900px) and (max-width: 1150px) {
    .hero-txt h1 {
        font-size: 36px;
    }

    .hero-txt p {
        font-size: 22px;
        width: 45%;
    }

    .stats h5 {
        font-family: 'Open Sans', sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 34px; /* 141.667% */
        color: var(--neutral-color-800, #101010);
        margin-bottom: 6%;
    }
    
    .stats p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }

    .middle-stats-left {
        width: 25%;
    }
    
    .middle-stats {
        width: 20%;
    }
    
    .last-stats {
        width: 20%;
    }
    
    .home-about-us-txt h4 {
        font-size: 28px;
    }
    
    .home-about-us-txt p {
        font-size: 16px;
    }
    
    .home-about-last-p {
        margin-bottom: 6% !important;
    }
    
    .home-about-us-txt a {
        font-size: 16px;
        font-weight: 500;
        line-height: 32px; /* 160% */
        color: #FFF;
        border-radius: 8px;
        background: #274BCD;
        padding: 2.5% 5%;
    }

    h3 {
        font-size: 30px;
    }

    .home-exp p {
        font-size: 20px;
    }
    
    .home-expertise-container a {
        font-size: 16px;
    }

    .home-insight-info {
        width: 32%;
    }
  
    .home-insight-info-txt h5 {
        font-size: 16px;
    }
    
    .home-insight-info-txt p {
        font-size: 14px;
    }
    
    .home-insight-info-txt a {
        font-size: 18px;
    }

    .home-people p {
        font-size: 16px;
    }
    
    .home-people-info h4 {
        font-size: 17px;
    }
    
    .home-people-info p {
        font-size: 14px;
    }
    
    .home-people a {
        font-size: 14px;
    }

    .home-careers p {
        font-size: 16px;
    }
    
    .home-careers-txt h2 {
        font-size: 21px;
    }
    
    .home-careers-txt h4 {
        font-size: 17px;
    }
    
    .home-careers-txt p {
        font-size: 16px;
    }
    
    .home-careers-txt a {
        font-size: 18px;
    }
}